body{
	background-color: #a8ffca;
    leftmargin: 50px;
    topmargin: 30px;
}
table{
    /* width: 100%; */
	text-align: center;
	padding: 0 5px 0 5px;
}
tr{
	text-align: center;
	padding: 0 5px 0 5px;
	border: 1px solid black;
    /* bgcolor:cyan; */
}
td{
	text-align: center;
	padding: 0 5px 0 5px;
	border: 1px solid black
}
h2{
    text-align: center;
}
/* rowspan y colspan */
